<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="aplicacionMundial">
    <head>
        <title>proyecto final Arquitectura</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
    </head>
    <body>
        <div class="container theme-showcase" role="main">
            <div class="row featurette">
                <div class="col-md-5">
                    <img src="images/foto.jpg" class="img-responsive" alt="500x500" dataholder-rendered="true">
                </div>
                <div class="col-md-7">
                    <h2>trasporte LJ</h2>
                    <p class="lead">
                        Plataforma para gestion de carga a nivel personal y empresarial, ofrecemos servicios de alta calidad
                        y con tiempo record de entrega.
                        <br>
                        <br>
                        <br>
                        elige la mejor opcion, elige TRASNPORTE LJ
                    </p>
                </div>
            </div>
            <hr>
            <toolbar></toolbar>
            <div ng-if="toolbar.isSelected(1)">
                <competitor-form competitorInfo></competitor-form>
            </div>
            <div ng-if="toolbar.isSelected(2)">
                <competitor-info></competitor-info>
            </div>
            <div ng-if="toolbar.isSelected(3)">
                <log-in></log-in>
            </div>
            <div ng-if="toolbar.isSelected(4)">
                <DeleteUsr></DeleteUsr>
            </div>
            <div ng-if="toolbar.isSelected(5)">
                <add-vehiculo vehiForm></add-vehiculo>
            </div>
            <div ng-if="toolbar.isSelected(6)">
                <ver-vehiculos></ver-vehiculos>
            </div>
            <div ng-if="toolbar.isSelected(7)">
                <add-carga cargaForm></add-carga>
            </div>
            <div ng-if="toolbar.isSelected(8)">
                <ver-cargas></ver-cargas>
            </div>
        </div>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/AngularControllers/app.js"></script>
    </body>
</html>
